
{
	"noSemi": true,
	"useTabs": true,
	"rcVerbose": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"tabWidth": 4,
	"printWidth": 120,
	"parser": "babylon",
	"trailingComma": "all",
	"arrowParens": "avoid"
}